<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="HomePageTest">
   <parameter name="browser" value="Chrome"/>
    <classes>
  
      <class name="com.dancewear.testcases.HomePageTest"/>
        <class name="com.dancewear.testcases.DanceShoesTest"/>
        <class name="com.dancewear.testcases.CostumesPageTest"/>
    
    </classes>
  </test> 
  
  
</suite> <!-- Suite -->
